html, body { height: 100% }
body {
    display: flex;
    flex-direction: column;
}
.form-signin {
    width: 100%;
    max-width: 330px;
}

.form-signup {
    width: 100%;
    max-width: 500px;
}

/*.form-signin input[type="email"] {*/
    /*margin-bottom: -1px;*/
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
/*}*/

/*.form-signin input[type="password"] {*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
/*}*/